.row{
margin-left: 20px;
color: white; 
}
.title{
    /* color: white; */
}
.row__posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    
}
.row__poster{
    margin-right: 10px;
    max-height: 100px;
    transition: transform 450ms;
    object-fit: contain;
}
.row__posters::-webkit-scrollbar{
    display: none;

}
.row__poster:hover{
    transform: scale(1.08);
    transition: transform 0.4s;
}

.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transition: scale(1.09);
}